@use "../../index.scss" as index;
@use "../Home.scss" as home;

.forum {
  background-image: url("/sports-car.jpg");
  background-size: cover;
  background-position: center;

  height: 100vh;
  border-radius: 1em;
}
