@use "../../index.scss" as index;

.bg-error {
  background-image: url("/public/error404.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.send-button {
  display: block;
  min-height: 20px;
  max-height: 80px;
}
